{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
    <title>Tambahkan Mata Kuliah</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
          integrity="sha384-xewr6kSkq3dBbEtB6Z/3oFZmknWn7nHqhLVLrYgzEFRbU/DHSxW7K3B44yWUN60D" crossorigin="anonymous">
    <style>
        .head {
            display: flex !important;
            background-color: #333333;
        }

        .head1 {
            display: flex !important;
            justify-content: space-between !important;
            width: 100%;
        }
    </style>
{% endblock meta %}

{% block site_title %}Story 7{% endblock site_title %}
{% block page_title %}
    <a class="text-light" href="{% url 'story7:home' %}">Client Side Scripting</a>{% endblock page_title %}

{% block content %}
    <div class="row align-items-center">
        <div class=" col-12">
            <div class="card">
                <div class="card-header text-dark">
                    Accordion
                </div>
                <div class="card-body text-muted">
                    <div id="accordion">
                        <div class="group">
                            <div class="head">
                                <div class="head1">
                                    <div class="accordion-title"><h3>Aktivitas saat ini</h3></div>
                                    <div class="accordion-btn">
                                        <button type="button" class="btn btn-light up"><i class="fa fa-chevron-up"></i></button>
                                        <button type="button" class="btn btn-light down"><i class="fa fa-chevron-down"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p>Saat ini sedang mengerjakan story 7 PPW.</p>
                            </div>
                        </div>
                        <div class="group">
                            <div class="head">
                                <div class="head1">
                                    <div class="accordion-title"><h3>Pengalaman berorganisasi</h3></div>
                                    <div class="accordion-btn">
                                        <button type="button" class="btn btn-light up"><i class="fa fa-chevron-up"></i></button>
                                        <button type="button" class="btn btn-light down"><i class="fa fa-chevron-down"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li>RISTEK</li>
                                    <li>Panitia Compfest</li>
                                </ul>
                            </div>
                        </div>
                        <div class="group">
                            <div class="head">
                                <div class="head1">
                                    <div class="accordion-title"><h3>Prestasi</h3></div>
                                    <div class="accordion-btn">
                                        <button type="button" class="btn btn-light up"><i class="fa fa-chevron-up"></i></button>
                                        <button type="button" class="btn btn-light down"><i class="fa fa-chevron-down"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li>Belum ada</li>
                                </ul>
                            </div>
                        </div>
                        <div class="group">
                            <div class="head">
                                <div class="head1">
                                    <div class="accordion-title"><h3>Hobi</h3></div>
                                    <div class="accordion-btn">
                                        <button type="button" class="btn btn-light up"><i class="fa fa-chevron-up"></i></button>
                                        <button type="button" class="btn btn-light down"><i class="fa fa-chevron-down"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p>Hobi saya adalah ngoding. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block customScript %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha384-JPbtLYL10d/Z1crlc6GGGGM3PavCzzoUJ1UxH0bXHOfguWHQ6XAWrIzW+MBGGXe5"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function () {
            const up = $('.up');
            const down = $('.down');
            const accordion = $("#accordion");
            const body = $('body');
            const click_handler_up = function (e) {
                e.stopImmediatePropagation();

                const $this = $(this);
                const target = $this.closest('.group');
                const prev = target.prev();

                console.log("up " + $this.text());

                (prev.clone()).insertAfter(target);
                prev.remove();

                body.off("click", '.up');

                //up.on("click", click_handler_up);
                body.on("click", '.up', click_handler_up);

                accordion.accordion('option', {animate: false});
                accordion.accordion("refresh");
                accordion.accordion('option', {active: false, animate: true});

            };
            const click_handler_down = function (e) {
                e.stopImmediatePropagation();

                const $this = $(this);
                const target = $this.closest('.group');
                const next = target.next();

                console.log("down " + $this.text());

                (next.clone()).insertBefore(target);
                next.remove();

                body.off("click", '.down');

                body.on("click", '.down', click_handler_down);

                accordion.accordion('option', {animate: false});
                accordion.accordion("refresh");
                accordion.accordion('option', {active: false, animate: true});

            };
            body.on("click", '.up', click_handler_up);
            body.on("click", '.down', click_handler_down);
            accordion
                .accordion({
                    header: "> div > .head",
                    collapsible: true,
                    active: false
                })
                .sortable({
                    axis: "y",
                    handle: ".head",
                    stop: function (event, ui) {
                        // IE doesn't register the blur when sorting
                        // so trigger focusout handlers to remove .ui-state-focus
                        ui.item.children("h3").triggerHandler("focusout");

                        // Refresh accordion to handle new order
                        $(this).accordion("refresh");
                    }
                });
        });
    </script>
{% endblock customScript %}