{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
    <title>Cari Buku</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
          integrity="sha384-xewr6kSkq3dBbEtB6Z/3oFZmknWn7nHqhLVLrYgzEFRbU/DHSxW7K3B44yWUN60D" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
    <style>
        .searchbar {
            margin-bottom: auto;
            margin-top: auto;
            height: 60px;
            background-color: #353b48;
            border-radius: 30px;
            padding: 10px;
        }

        .search_input {
            color: white;
            border: 0;
            outline: 0;
            background: none;
            width: 0;
            caret-color: transparent;
            line-height: 40px;
            transition: width 0.4s linear;
        }

        .searchbar:hover > .search_input {
            padding: 0 10px;
            width: 450px;
            caret-color: red;
            transition: width 0.4s linear;
        }

        @media screen and (max-width: 773px) {
            .searchbar:hover > .search_input {
                width: 300px;
                transition: width 0.27s linear;
            }

            .search_input_active {
                width: 300px !important;
                transition: width 0.27s linear;
            }

            .search_input {
                transition: width 0.27s linear;
            }
        }

        @media screen and (max-width: 450px) {

            .searchbar:hover > .search_icon {
                adisplay: none !important;
                visibility: hidden;
                transition-delay: 0.05s;
            }

            .search_icon_active {
                adisplay: none !important;
                isibility: hidden;
                transition-delay: 0.05s;
            }
        }

        .searchbar:hover > .search_icon {
            background: white;
            color: #e74c3c;
        }

        .search_input_active {
            padding: 0 10px;
            width: 450px;
            caret-color: red;
            transition: width 0.4s linear;
        }

        .search_icon_active {
            background: white;
            color: #e74c3c !important;
        }

        .orange {
            color: #e74c3c !important;
        }

        .waiter {
            margin-bottom: auto;
            margin-top: auto;
            height: 60px;
            background-color: #353b48;
            border-radius: 30px;
        }

        .search_icon {
            height: 40px;
            width: 100px;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1em;
            color: white;
            text-decoration: none;
            visibility: visible;
            transition: visibility 0s;
        }

        .load_icon {
            height: 40px;
            width: 100px;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1em;
            color: white;
            text-decoration: none;
        }

        .noHover {
            pointer-events: none;
        }

        .noHover > .search_input {
            width: 0;
            padding: unset;
        }

        .noHover > .search_icon {
            background: unset;
            color: white;
        }

        #result-card {
            padding-top: 2%;
        }

        body {
            background-color: #1abc9c;
        }

        .clamp-text {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }

        .clamp-text-table {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            padding-bottom: 0 !important;
        }

        .toggle {
            border-radius: 2em;
        }

        .toggle.btn-primary {
            background-color: #343a40;
            border-color: #343a40;
        }

        .toggle.btn-primary:active {
            border-color: #343a40 !important;
            background-color: #40474e !important;
        }

        .toggle-on {
            background-color: #343a40;
            border-color: #343a40;
        }

        .toggle-on.btn-primary:hover {
            background-color: #40474e;
        }

        .toggle-on.btn-primary:active {
            background-color: #40474e !important;
            border-color: #343a40 !important;
        }

        .toggle-off {
            background-color: #343a40;
            border-color: #343a40;
        }

        .toggle-off.btn-primary:hover {
            background-color: #40474e;
        }

        .toggle-off.btn-primary:active {
            background-color: #40474e !important;
            border-color: #343a40 !important;
        }
    </style>
{% endblock meta %}

{% block skip_main_css %}
{% endblock skip_main_css %}

{% block site_title %}Story 8{% endblock site_title %}
{% block page_title %}
    <a class="text-light" href="{% url 'story8:home' %}">AJAX</a>
    <span class="mx-2 text-light">|</span>
    <span class="text-light">Naradhipa M S Bhary</span>
{% endblock page_title %}

{% block content %}
    <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search..." id="searchbar">
            <a href="#" class="search_icon"><span id="status-text">SEARCH</span> <i class="fa fa-search"
                                                                                    id="search-icon-element"
                                                                                    style="padding-left:0.25em"></i></a>
        </div>
    </div>
    <div class="d-flex justify-content-center h-100 pt-4" id="toggler">
        <label>
            Display Style:
            <input type="checkbox" checked data-toggle="toggle" data-on="Card" data-off="Table" data-offstyle="primary"
                   id="display-choice">
        </label>
    </div>
    <div class="card-columns" id="result-card">

    </div>

    <div class="row align-items-center" id="table-view">
        <div class=" col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Judul</th>
                            <th scope="col">Deskripsi</th>
                            <th scope="col">Penulis</th>
                            <th scope="col">Link</th>
                        </tr>
                        </thead>
                        <tbody id="result-table">
                        </tbody>
                    </table>
                    <div class="text-center w-100 first-search">
                        Silahkan melakukan pencarian
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block customScript %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha384-JPbtLYL10d/Z1crlc6GGGGM3PavCzzoUJ1UxH0bXHOfguWHQ6XAWrIzW+MBGGXe5"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script type="text/javascript">
        $(function () {
            const search_input = $('.search_input');
            const search_icon = $('.search_icon');
            const icon = $('.fa-search');
            const search_bar = $('.searchbar');
            const result_container_card = $('#result-card');
            const status_text = $('#status-text');
            const result_container_table = $('#result-table')
            const first_search_notification = $('.first-search');
            const table_view = $('#table-view');
            const toggler = $('#toggler');

            table_view.hide();

            search_bar.focusin((e) => {
                search_icon.addClass("search_icon_active");
                search_input.addClass("search_input_active");
                icon.addClass("orange");
            });
            search_bar.focusout((e) => {
                search_icon.removeClass("search_icon_active");
                search_input.removeClass("search_input_active");
                icon.removeClass("orange");
            });

            const processInput = function () {
                search_icon.removeClass("search_icon_active");
                search_input.removeClass("search_input_active");
                icon.removeClass("orange");

                search_bar.addClass("noHover");
                icon.removeClass("fa-search");
                icon.addClass("fa-spinner fa-spin");
                status_text.text("SEARCHING");
                $.get(`{% url 'story8:search' %}?q=${search_input.val()}`).done((response) => {
                    if (!"items" in response) {
                        swal.fire({
                            icon: 'error',
                            title: 'Request Failed',
                            text: "The server seems to be unable to handle your request",
                        })
                        return;
                    }

                    let result_card_html = "";
                    let result_table_html = "";
                    let processed_item = 0;
                    response.items.forEach((value, index, array) => {
                        const book = value.volumeInfo;
                        if (processed_item % 3 === 0 && processed_item !== 0 && false) {
                            result_card_html += `
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 1%">
                                <div class="card-deck">
                            `
                        }
                        result_card_html += `
                        <div class="card">
                            <img class="card-img-top"
                                 src="${'imageLinks' in book ? book.imageLinks.thumbnail : ''}"
                                 alt="Book Image">
                            <div class="card-body">
                                <h5 class="card-title">${book.title}</h5>
                                <p class="card-text clamp-text">${'description' in book ? book.description : "No description provided"}</p>
                                <p class="card-text"><small class="text-muted">${'authors' in book ? "By " + book.authors.join(", ") : "No author info"}</small></p>
                                <a href="${'infoLink' in book ? book.infoLink : '#'}" target=”_blank” class="card-link">More info</a>
                            </div>
                        </div>
                        `;
                        result_table_html += `
                        <tr>
                            <td>${book.title}</td>
                            <td class="clamp-text-table">${'description' in book ? book.description : "No description provided"}</td>
                            <td>${'authors' in book ? "By " + book.authors.join(", ") : "No author info"}</td>
                            <td><a href="${'infoLink' in book ? book.infoLink : '#'}" target=”_blank” class="btn btn-primary" ${'infoLink' in book ? "" : 'disabled'}>More info</a></td>
                        </tr>
                        `
                        processed_item++;
                        if (processed_item === array.length) {
                            result_container_card.html(result_card_html);
                            result_container_table.html(result_table_html);
                            first_search_notification.hide();
                            enableInput();
                        }
                    })
                }).fail((error) => {
                    console.log(error);
                    swal.fire({
                        icon: 'error',
                        title: 'Request Failed',
                        text: "The server seems to be unable to handle your request",
                    })
                    enableInput();
                }).always(() => {
                    //enableInput();
                })
            }

            const enableInput = function () {
                search_bar.removeClass("noHover");
                icon.removeClass("fa-spinner fa-spin");
                icon.addClass("fa-search");
                status_text.text("SEARCH");
            }


            $(".search_input").on('keyup', function (e) {
                if (e.key === 'Enter' || e.keyCode === 13) {
                    processInput();
                }
            });

            if (window.innerWidth > 450) {
                $(".search_icon").click(processInput);
            } else {
                toggler.css("visibility", "hidden");
            }

            let forced = false;

            $(window).resize(function () {
                if (window.innerWidth > 450) {
                    if (forced) {
                        forced = false;
                        $('#display-choice').bootstrapToggle('on');
                        $(".search_icon").click(processInput);
                        toggler.css("visibility", "visible");
                    }
                } else {
                    if (!forced) {
                        forced = true;
                        toggler.css("visibility", "hidden");
                        table_view.hide();
                        result_container_card.show();
                        $(".search_icon").off("click");
                    }
                }
            });

            $('#display-choice').change(function () {
                if (!$(this).prop('checked')) {
                    table_view.show();
                    result_container_card.hide();
                } else {
                    table_view.hide();
                    result_container_card.show();
                }
            })

        });
    </script>
{% endblock customScript %}