{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/71a893d14e.js" crossorigin="anonymous"></script>

    {% block skip_main_css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    {% endblock skip_main_css %}

    {% block meta %}
    {% endblock meta %}

</head>

<body class="home-section">
<nav class="navbar navbar-light bg-dark">
    <span class="navbar-brand mb-0 h1" style="color: #fff;">{% block site_title %}Mata
        Kuliah{% endblock site_title %}</span>
    <span class="navbar-text">
        {% block page_title %}<a class="text-light"
                                 href="{% url 'main:Mata_Kuliah_List' %}">Daftar Mata Kuliah</a>{% endblock page_title %}
    </span>
</nav>
<div class="container pt-5 pb-5">
    {% block content %}
    {% endblock content %}
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha384-KcyRSlC9FQog/lJsT+QA8AUIFBgnwKM7bxm7/YaX+NTr4D00npYawrX0h+oXI3a2"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.5.1/dist/sweetalert2.all.min.js"
        integrity="sha256-fVZveEm3wEm6RojWh41ywhrs4nbQjta1e9oDyovzI3E=" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(function () {
        const modals = [];
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    modals.push({
                        icon: 'error',
                        title: 'Gagal...',
                        text: "{{ message }}",
                    })
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    modals.push({
                        icon: 'success',
                        title: 'Sukses!',
                        text: "{{ message }}",
                    })
                {% endif %}
            {% endfor %}
        {% endif %}
        swal.queue(modals);
    });
</script>
{% block customScript %}
{% endblock customScript %}
</body>

</html>
