{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
    <title>Tambahkan Mata Kuliah</title>
{% endblock meta %}

{% block content %}
    <div class="row align-items-center">
        <div class=" col-12">
            <div class="card">
                <div class="card-header text-dark">
                    Tambahkan Mata Kuliah
                </div>
                <div class="card-body text-muted">
                    <form method="post">{% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
