{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Hapus Mata Kuliah</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
{% endblock meta %}

{% block content %}
    <form method="post" id="delete-form">{% csrf_token %}
    </form>
{% endblock content %}

{% block customScript %}
    <script type="text/javascript">
        $(function () {
            swal.fire({
                title: 'Konfirmasi Penghapusan?',
                text: "Yakin ingin menghapus mata kuliah: {{ object.nama }}",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Ya!',
                cancelButtonText: 'Tidak!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#delete-form').submit()
                } else {
                    window.location.replace("{% url 'main:Mata_Kuliah_List' %}");
                }
            })
        });
    </script>
{% endblock customScript %}