{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Detail Mata Kuliah</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
{% endblock meta %}

{% block content %}
    <div class="row align-items-center">
        <div class=" col-12">
            <div class="card">
                <div class="card-header text-dark">
                    Detail Mata Kuliah: {{ object.nama }}
                </div>
                <div class="card-body">
                    <h4 class="card-title text-dark">{{ object.nama }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Dosen: {{ object.dosen }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Kelas: {{ object.ruang_kelas }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Sks: {{ object.jumlah_sks }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Semester/tahun: {{ object.semester_tahun }}</h6>
                    <p class="card-text text-dark">{{ object.deskripsi }}</p>
                    <div class="text-center mt-4">
                        <a href="{% url 'main:Mata_Kuliah_List' %}" class="btn btn-primary mr-4">Kembali ke daftar</a>
                        <a href="{% url 'main:Mata_Kuliah_Delete' pk=object.id %}" class="btn btn-danger">Hapus mata
                            kuliah</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
