{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Daftar Mata Kuliah</title>
{% endblock meta %}

{% block content %}
    <div class="row align-items-center">
        <div class=" col-12">
            <div class="card">
                <div class="card-header text-dark">
                    Daftar Mata Kuliah
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Mata Kuliah</th>
                            <th scope="col">Dosen</th>
                            <th scope="col">Aksi</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mataKuliah in object_list %}
                            <tr>
                                <td>{{ mataKuliah.nama }}</td>
                                <td>{{ mataKuliah.dosen }}</td>
                                <td><a class="btn btn-primary"
                                       href="{% url "main:Mata_Kuliah_Detail" pk=mataKuliah.id %}"
                                       role="button">Detail</a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3"> No Data Yet</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'main:Mata_Kuliah_Create' %}" class="btn btn-primary btn-lg btn-block mt-4">Tambahkan
                        Mata Kuliah</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
